<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
</head>
<header>
    <nav>
        <h1>NBA 2022 Season</h1>
            <a class="navOption" href="/">Home</a>
            <a class="navOption" href="/playerPage">Players Page</a>
            <a class="navOption" href="/teamPage">Team Page</a>
            <a class="navOption" href="/standings">Standings</a>
        </ul>
</nav>
</header>
<body>
    <div class="This Season">
    <div class="tScores">
        <h1>Today's Schedule:</h1>
        <table>
            <thead>
                <% for(let i = 0; i< tscores.data.length; i++) { %>
                <th>
                    <h3><a class="teamPageLink" href="<%=`/teamPage/${tscores.data[i].home_team.full_name}`%>"><%= tscores.data[i].home_team.abbreviation %></a>
                        <% if(tscores.data[i].home_team_score >0) {%>
                        :<%= tscores.data[i].home_team_score %></h3>
                        <% } %>
                    <!-- <h3>vs</h3> -->
                    <h3><a class="teamPageLink" href="<%=`/teamPage/${tscores.data[i].visitor_team.full_name}`%>"><%= tscores.data[i].visitor_team.abbreviation %></a>
                        <% if(tscores.data[i].visitor_team_score > 0) {%>
                        :<%= tscores.data[i].visitor_team_score %></h3>
                        <% } %>
                    <h3><%= tscores.data[i].status %></h3>
                    <% if(tscores.data[i].time === 'Half'){  %>
                        <h3>Half</h3>
                        <% } if(tscores.data[i].time !='Final'&& tscores.data[i].time !='Half'){%>
                    <h3><%= tscores.data[i].time.slice(3) %></h3>
                    <% }%>
                    <% if(tscores.data[i].home_team_score > 0 || tscores.data[i].visitor_team_score > 0) {%>
                    <h3><a href= "<%= `/BoxScore/${tscores.data[i].id}/${tscores.data[i].home_team.full_name}/${tscores.data[i].visitor_team.full_name}/${tscores.data[i].date}` %>"><button class="boxButton">View Box Score</button></a></h3>
                    <% } %>
                </th>
                <% } %>
            </thead>
        </table>
    </div>
    <div class="yScores">
        <h1>Yesterday's Schedule:</h1>
        <form action="/" method="POST" id="boxScore"></form>
        <table>
            <thead>
                <% for(let i = 0; i< yscores.data.length; i++) { %>
                <th>
                    <h3><a class="teamPageLink" href="<%=`/teamPage/${yscores.data[i].home_team.full_name}`%>"><%= yscores.data[i].home_team.abbreviation %></a>:<%= yscores.data[i].home_team_score %></h3>
                    <!-- <h3>vs</h3> -->
                    <h3><a class="teamPageLink" href="<%=`/teamPage/${yscores.data[i].visitor_team.full_name}`%>"><%= yscores.data[i].visitor_team.abbreviation %></a>:<%= yscores.data[i].visitor_team_score %></h3>
                    <h3><a href="<%= `/BoxScore/${yscores.data[i].id}/${yscores.data[i].home_team.full_name}/${yscores.data[i].visitor_team.full_name}/${yscores.data[i].date}` %>"><button class="boxButton">View Box Score</button></a></h3>
                </th>
                <% } %>
            </thead>
        </table>
    </form>
    </div>
</body>
</html>