<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
</head>
<header>
    <nav>
        <h1>NBA 2022 Season</h1>
            <a class="navOption" href="/">Home</a>
            <a class="navOption" href="/playerPage">Players Page</a>
            <a class="navOption" href="/teamPage">Team Page</a>
        </ul>
</nav>
</header>
<div class="teamSchedule">
<% for(let i = 0; i< schedule.length; i++) { %>
<table class="scheduleTable" id="scheduleTable">
    <th>
        <h3 class="topSched"><%= schedule[i].home_team.full_name %>:<%= schedule[i].home_team_score %></h3>
        <h3>Vs</h3>
        <h3><%= schedule[i].visitor_team.full_name %>:<%= schedule[i].visitor_team_score %></h3>
        <h3 class="bottomSched"><%= schedule[i].date.slice(0, 10)%></h3>
        <h3 class="bottomSched"><%= schedule[i].status%></h3>
        <% if(schedule[i].home_team_score > 0 || schedule.visitor_team_score > 0) { %>
        <h3><a href= "<%= `/boxScore/${schedule[i].id}/${schedule[i].home_team.full_name}/${schedule[i].visitor_team.full_name}/${schedule[i].date}` %>"><button class="boxButton">View Box Score</button></a></h3>
        <% } %>
        <% if(schedule[i].home_team.full_name === team && schedule[i].home_team_score > schedule[i].visitor_team_score || schedule[i].visitor_team.full_name === team && schedule[i].visitor_team_score > schedule[i].home_team_score) { %>
            <h3 style = "background-color: green">Win</h3>
             <% } if(schedule[i].home_team.full_name === team && schedule[i].home_team_score < schedule[i].visitor_team_score || schedule[i].visitor_team.full_name === team && schedule[i].visitor_team_score < schedule[i].home_team_score) {%>
            <h3 style="background-color: red">Loss</h3>
                <% } %>
    </th>
</table>
</div>
<% } %>